<div class="header">
  <h1>پروفایل</h1>
  </div>
  <div class="container">
  <div class="divForm" dir="rtl">
      <div class="logo">
        <i class="fa fa-user-md" aria-hidden="true"></i>
      </div>
          
      
          <!--بخش اطلاعات شخصی کاربر-->
          <div class="form-row">
              <h4><strong>اطلاعات شخصی</strong></h4>
          </div>
          <br>
          <div class="form-row">
             
              <div class="form-group col-md-6">
                  
                 <p><strong>نام و نام خانوادگی</strong></p>
                 <h6>{{dservice.selectedDoctor.FULLname}}</h6>
              </div>
              <div class="form-group col-md-6">
                  <p><strong>ایمیل</strong></p>
                  <h6>{{dservice.selectedDoctor.Email}}</h6>
              </div>
              
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                 <p><strong>کد نظام پزشکی</strong></p>
                 <h6>{{dservice.selectedDoctor.MCC}}</h6>
              </div>
              <div class="form-group col-md-6">
                <p><strong>تخصص</strong></p>
                <h6 >{{dservice.selectedDoctor.Expert}}</h6>
              </div>
              
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                 <p><strong>شماره همراه</strong></p>
                 <h6>{{dservice.selectedDoctor.Mobile}}</h6>
              </div>
              <div class="form-group col-md-6">
                <p><strong>فلوشیپ</strong></p>
                <h6>{{dservice.selectedDoctor.Floship}}</h6>
             </div>
          </div>
          
          <br>
          
  </div>
     
  </div>
  