.gradfooter{
    font-family: 'IRANSans';
    font-size: 1rem;
    color: white;
    padding-top: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #114178;
    border-top: 1px solid whitesmoke;
    
  }
  .grad{
    font-family: 'IRANSans';
    font-size: 1.2rem;
    color: white;
    padding-top: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #114178;
    
  }
  .grad1{
    font-family: 'IRANSans';
    font-size: 1rem;
    color: white;
    padding: 50px;
    width: 100%;
    height: auto;
    direction: rtl;
    text-align: right;
    background-color: #114178;
    
  }
  .grad2{
    padding-right: 50px;
  }

  .grad2 button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
  }
  .grad2 button:hover{
   
    border-left: 2px solid red;
    border-right: 2px solid red;
    color: gold;
  }
.heartt{
  color: red;
  animation: tepesh 2s linear infinite ;
}  
@keyframes tepesh{
  0% {font-size: 100px;}
  50% {font-size: 110px;}
  100% {font-size: 100px;}
}