<div class="grad">
    <p> <strong> کلینیک خاص</strong>  تنها ارائه دهنده خدمات آموزشی و پزشکی برای بیماران خاص </p>
</div>
<div class="grad1">
    <div class="row">
        <div class="col-md-3 grad2" >
            <ul>
                <li><a [routerLink]="['/']" routerLinkActive="router-link-active" ><button>صفحه اصلی</button></a></li>
                <li><a [routerLink]="['/user-register']" routerLinkActive="router-link-active" ><button>ثبت نام</button></a></li>
                <li><a [routerLink]="['/about-us']" routerLinkActive="router-link-active" ><button>درباره ما</button></a></li>
                <li><a [routerLink]="['/contact-us']" routerLinkActive="router-link-active" ><button>تماس با ما</button></a></li>
            </ul>
        </div>
        <div class="col-md-3 grad2" style="border-right: inset">
                <ul>
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" ><button>اخبار</button></a></li>
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" ><button>پرسش و پاسخ</button></a></li>
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" ><button>مقالات</button></a></li>
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" ><button>داروخانه کلینیک</button></a></li>
                   
                </ul>
        </div>
        <div class="col-md-6" style="border-right: inset">
              <P style="font-size: 55px;text-align:center;"><i class="fa fa-heartbeat" aria-hidden="true"></i></P>
              <p> کلینیک خاص از سال ۱۳۹۸ در راستای ارائه خدمات اینترنتی برای پزشکان و بیماران در سراسر ایران فعالیت میکند.</p>
        </div>
        
      </div>
</div>


<div class="gradfooter" dir="rtl">
<p>تمامی حقوق این سایت برای شرکت <strong style="color: yellow;">کلینیک خاص</strong> محفوظ است. | Copyright © 2019 <strong style="color: yellow;">Special Clinic</strong> Co</p>
</div>
