<div class="grad">
    <p> <strong> کلینیک</strong>  تنها ارائه دهنده خدمات آموزشی و پزشکی برای بیماران خاص </p>
</div>
<div class="grad1">
    <div class="row">
        <div class="col-md-3 grad2" >
            <ul>
                <li><a [routerLink]="['/']" routerLinkActive="router-link-active" ><button>صفحه اصلی</button></a></li>
                <li><a [routerLink]="['/user-register']" routerLinkActive="router-link-active" ><button>ثبت نام</button></a></li>
                <li><a [routerLink]="['/about-us']" routerLinkActive="router-link-active" ><button>درباره ما</button></a></li>
                <li><a [routerLink]="['/contact-us']" routerLinkActive="router-link-active" ><button>تماس با ما</button></a></li>
            </ul>
        </div>
        <div class="col-md-3 grad2" style="border-right: inset">
                <ul>
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" ><button>اخبار</button></a></li>
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" ><button>پرسش و پاسخ</button></a></li>
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" ><button>مقالات</button></a></li>
                    <li><a [routerLink]="['/']" routerLinkActive="router-link-active" ><button>داروخانه کلینیک</button></a></li>
                   
                </ul>
        </div>
        <div class="col-md-3" style="border-right: inset">
              
        </div>
        <div class="col-md-3" style="border-right: inset">
              
        </div>
      </div>
</div>


<div class="gradfooter">
    <p>شرکت نرم افزاری ملی سافت 2019 © آموزش برنامه نویسی تحت وب</p>
</div>
