.header{
    width: 100%;
    text-align: center;
    background-color: rgb(8, 8, 105);
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color : white;
    font-family: 'IRANSans';

} 
.grids{
    font-family: 'IRANSans';
    font-size: 25px;
    font-weight: bold;
    animation: ganimatt 0.7s linear;
    opacity: 1;
    color: black;
}
@keyframes ganimatt{
    from {opacity: 0;}
    to {opacity: 1;}
}
mat-grid-tile{
    background: linear-gradient(141deg, #9fb8ad 0%, #6ae1ee 51%, #82d6f5 75%);
    transition: background 1s;
}
mat-grid-tile:hover{
    background: linear-gradient(141deg, #9fb8ad 0%, #1d6e77 51%, #2cb5e8 75%);
    cursor: pointer;
    color: white;
}