.header{
    width: 100%;
    text-align: center;
    background-color: rgb(8, 8, 105);
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color : white;
    font-family: 'IRANSans';

} 
.grids{
    font-family: 'IRANSans';
    font-size: 25px;
    font-weight: bold;
    animation: ganimatt 0.7s linear;
    opacity: 1;
    color: black;
}
@keyframes ganimatt{
    from {opacity: 0;}
    to {opacity: 1;}
}
mat-grid-tile{
    background: rgb(8, 8, 105);
    color: white;
    transition: 0.7s background, 0.7s color;
}
mat-grid-tile:hover{
    background: yellow;
    cursor: pointer;
    color: black;
}