<app-header></app-header>
<div class="header">
    <h1>درباره ما</h1>
</div>
<div class="container">
   <div class="divForm" dir="rtl">
     <section>
      <h6>هوالشافی</h6>
      <h6>باسلام و درود به شما خوانندگان گرامی.</h6>
      <p>سایت پزشکی و مجله سلامتی کلینیک خاص با هدف خدمت رسانی به شما هموطنان عزیز و آشنا نمودن شما عزیزان با مطالب روز بهداشتی،پزشکی،سلامتی و درمانی تشکیل شده است. امید است که با توکل به خداوند بزرگ و حمایت شما عزیزان شاهد بهبود سلامتی در بین هموطنان عزیزمان باشیم.
      </p>
       <p> باتشکر از بازدید شما
         مدیریت سایت پزشکی کلینیک خاص</p>
     </section>
  </div>
   
  </div>
  <app-footer></app-footer>