<app-header></app-header>
<div class="header">
<h1>فرم عضویت کاربر</h1>
</div>
<div class="container">
<div class="divForm" dir="rtl">
    <div class="logo">
        <i class="fa fa-id-card-o" aria-hidden="true"></i>
    </div>
        
    <form #UserRegisterForm="ngForm" (ngSubmit)="onSubmit(UserRegisterForm)">
        <!--بخش اطلاعات شخصی کاربر-->
        <div class="form-row">
            <h4><strong>اطلاعات کاربر</strong></h4>
        </div>
        <br>
        <div class="form-row">
           
            <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                    <input type="text" #Fname="ngModel" name="Fname" ngModel matInput [(ngModel)]="userService.selectedUser.Fname"  placeholder="نام" required>
                    <mat-error *ngIf="Fname.invalid">نام را وارد کنید</mat-error>
                    
                </mat-form-field>
                
            </div>
            <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                    <input type="text" #Lname="ngModel" name="Lname" ngModel matInput [(ngModel)]="userService.selectedUser.Lname" placeholder="نام خانوادگی" required>
                    <mat-error *ngIf="Lname.invalid">نام خانوادگی را وارد کنید</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                    <input type="email" #Email="ngModel" name="Email" ngModel (change)="checkExistsEmail()" matInput [(ngModel)]="userService.selectedUser.Email" placeholder="ایمیل" required>
                    <mat-error >example@mail.com</mat-error>
                    <mat-error *ngIf="Email.invalid">ایمیل را وارد کنید</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                    <mat-form-field class="full-width">
                            <input type="text" #Mobile="ngModel" name="Mobile" ngModel matInput [(ngModel)]="userService.selectedUser.Mobile" placeholder="شماره تلفن" required>
                            <mat-icon matSuffix><i class="fa fa-phone" aria-hidden="true"></i></mat-icon>
                            <mat-error *ngIf="Mobile.invalid">شماره تلفن را وارد کنید</mat-error>
                            
                    </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                        <input type="text" #UNcode="ngModel" name="UNcode" ngModel (change)="checkExistsUNcode()" matInput [(ngModel)]="userService.selectedUser.UNcode" placeholder="کد ملی" required>
                        <mat-error *ngIf="UNcode.invalid">کد ملی را وارد کنید</mat-error>
                        
                </mat-form-field>
        </div>
            
        </div>
        <br>
        
        <!--بخش اطلاعات حساب کاربری کاربر-->
        <div class="form-row">
            <h4><strong>اطلاعات حساب</strong></h4>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                    <input matInput type="text" #Username1="ngModel" name="Username" (change)="checkExistsUsername()" ngModel [(ngModel)]="userService.selectedAccount.Username"  placeholder="شناسه کاربری" required>
                    <mat-icon matSuffix><i class="fa fa-user-circle-o" aria-hidden="true"></i></mat-icon>
                    <mat-error *ngIf="Username1.invalid">شناسه کاربری را وارد کنید</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                    <input type="password" #Password1="ngModel" name="Password" ngModel matInput [(ngModel)]="userService.selectedAccount.Password"   placeholder="رمز عبور" required>
                    <mat-icon matSuffix><i class="fa fa-key" aria-hidden="true"></i></mat-icon>
                    <mat-error *ngIf="Password1.invalid">رمز عبور را وارد کنید</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group col-md-4">
                <mat-form-field class="full-width">
                    <input type="password" #Rpass="ngModel" name="Rpass" ngModel matInput  placeholder="تکرار رمز عبور" required>
                    <mat-icon matSuffix><i class="fa fa-repeat" aria-hidden="true"></i></mat-icon>
                    <mat-hint *ngIf="Password1.value != Rpass.value">تکرار رمز عبور را درست وارد کنید</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <br>
        <div class="form-row" style="margin-top:50px;">
                <div class="form-group col-md-3"></div>
                <div class="form-group col-md-3">
                        <button  type="submit" [disabled]="!UserRegisterForm.valid || !UNcodeflag || !Usernameflag || !Emailflag" class="btn btn-lg btn-block btn-info"  [title]="(!UserRegisterForm.valid || !UNcodeflag || !Usernameflag || !Emailflag) ? 'فرم را به طور کامل پر کنید' : ''">ثبت اطلاعات <i class="fa fa-floppy-o"></i></button>
                </div>
                <div class="form-group col-md-3">
                        <button type="button"class="btn btn-lg btn-block btn-secondary" (click)="resetForm(UserRegisterForm)">تکرار <i class="fa fa-repeat"></i></button>
                </div>
                <div class="form-group col-md-3"></div>
        </div>
    </form>
</div>
   
</div>
<app-footer></app-footer>