<div class="header">
<h1>تایید حذف حساب</h1>
</div>
<div class="container">
    <div class="divForm">
        
          <div style="text-align: center">
              <h4>آیا از حذف حساب مطمئن هستید ؟</h4>
          </div>
    
          <br>
          <br>
          <br>
          <div class="row">
            <div class="col-md-6">
                <button style="width: 100%;font-family:'IRANSans'" mat-raised-button color="warn" type="button" (click)="onBack()">برگشت</button>
            </div>
            <div class="col-md-6">
                <button style="width: 100%;font-family:'IRANSans'" mat-raised-button type="button" color="primary" (click)="onDeleteAccount()">حذف حساب</button>
            </div>
          </div>
    </div>
</div>