.header{
    width: 100%;
    text-align: center;
    background-color: rgb(8, 8, 105);
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color : white;
    font-family: 'IRANSans';

} 
img{
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.divimg{
    width:25%;
    background-color: white;
    min-height:200px;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
}
.divtext{
    text-align: justify;
    width:75%;
    background-color: white;
    min-height:200px;
    padding: 5px;
    font-family: 'IRANSans'
}
.zoom {
    width: 100%;
    height: auto;
  }
.zoom{
    transition: transform .5s ease;
  }
.zoom:hover{
    transform: scale(1.2);
  }


 .titlediv2{
    background-color: #a51e2c;
    height: 5px;
  
  }
.titlediv2-v2{
    background-color: #3f51b5;
    height: 5px;
  
    
  }