.header{
    width: 100%;
    text-align: center;
    background-color: rgb(8, 8, 105);
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color : white;
    font-family: 'IRANSans';

} 
.grids{
    font-family: 'IRANSans';
    font-size: 25px;
    font-weight: bold;
    animation: ganimat 2s linear;
    opacity: 1;
    color: black;
}
@keyframes ganimat{
    from {opacity: 0;}
    to {opacity: 1;}
}
mat-grid-tile{
    background: #007bff;
    transition: 0.7s background, 0.7s color;
    color: white;
}
mat-grid-tile:hover{
    background: yellow;
    cursor: pointer;
    color: black;
    
}