.titlediv2{
  background-color: #a51e2c;
  height: 45px;
  text-align: center;
  font-size: 25px;
}
.titlediv2-v2{
  background-color: #3f51b5;
  height: 45px;
  text-align: center;
  font-size: 25px;
}
.back{
  width: 100%;
  max-height: 400px;
  font-family: 'IRANSans';
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  color: black;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 5px;
  display: block;
  position: relative;
  animation: ravan 10s linear infinite;
  
}
@keyframes ravan{
  0%   {color: black;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}
.back::after{

 background: url(Content\img\locations_header.jpg);
 background-size: cover;
 opacity: 0.3;
 content: "";
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 position: absolute;
 
  
}
.back i{
  padding: 25px;
  font-size: 35px;
}
.zoom {
    overflow: hidden; 
    width: 100%;
    height: auto;
  }
.zoom{
    transition: transform .5s ease;
  }
.zoom:hover{
    transform: scale(1.2);
  }
.slider{
    color: rgb(255, 255, 255);
    min-height: 440px;
    padding: 50px;
    margin-right: 1px;
    margin-left: 0px !important;
   
}
.sliderright{
    overflow: hidden;
    
  
}
.sliderright img{
  width: 100%;
  height: auto;
}
.sliderleft{
    margin-top: 100px;
    line-height: 2;
    direction: rtl;
    overflow: hidden;
    padding: 15px;
    text-align: justify;
    font-family: "IRANSans";
    color: #000;
}
.lastnewsheader{
  height:100px;
  font-family: "IRANSans";
  background-color: rgb(0, 93, 103);
  color: white;
  text-align: center;
  padding-top: 45px;
  font-weight: bold;
}
.lastnewsheader-v2{
  height:100px;
  font-family: "IRANSans";
  background-color: #3f51b5;
  color: white;
  text-align: center;
  padding-top: 45px;
  font-weight: bold;
}
.lastnewsbody{
    direction: rtl;
    min-height: 350px;
    padding: 10px;
    font-family: "IRANSans";
    text-align: center;
    color: whitesmoke;
    margin-right: 1px;
    margin-left: 0px !important;
}
.lastnewsimg{
  height:200px;
  overflow: hidden;
}
.lastnewsimg img{
  width: 100%;
  height:200px;
  overflow: hidden;
}
.lastnewstitle{
  height:80px;
  padding-top: 10px;
  color: white;
}
.lastnewsfooter{
  height: 60px;
  background-color:  rgb(0, 93, 103);
  font-family: "IRANSans";
  padding: 10px;
  text-align: center
}
.lastnewsfooter-v2{
  height: 60px;
  background-color:  #3f51b5;
  font-family: "IRANSans";
  padding: 10px;
  text-align: center
}

.newletter{
  height: 100px;
  font-family: "IRANSans";
  padding: 10px;
  text-align: center;
 
}

mat-form-field{
  font-family:'IRANSans';
  width: 100%;
}

.raghs{
  animation: anirag 20s ease-in infinite;
  height:30px;
  font-family: 'IRANSans';
  text-align: center;
}
@keyframes anirag{
  0%   {background: linear-gradient(to left,white,blue,white,white,blue,white);}
  25%  {background: linear-gradient(to left,white,green,white,white,green,white);}
  50%  {background: linear-gradient(to left,white,red,white,white,red,white);}
  100% {background: linear-gradient(to left,white,yellow,white,white,yellow,white);}
}