<app-header></app-header>
<div class="back">
  <section>
      <p >{{mytext}}</p>
      <h2><strong>Special Clinic</strong></h2>
      <p>  <i class="fa fa-telegram"  aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-google" aria-hidden="true"></i></p>
  </section>
</div>
<div [ngClass]="{'titlediv2' : styleservice.Flag == true,
                'titlediv2-v2': styleservice.Flag == false}">
</div>
<div [ngStyle]="{'background-color': styleservice.Flag ? 'white' : '#'}">
  <div class="row slider">
    <div class="col-md-6 sliderright">
        <img src="../../assets/images/logo.png" alt="" width="" height="">
    </div>
    <div class="col-md-6 sliderleft">
      <h4 > کلینیک خاص بزرگترین سایت پزشکی در ایران</h4>
      <p >کلینیک  به عنوان بزرگترین مرجع خدمات درمانی اینترنتی در ایران مفتخر است به اطلاع شما عزیزان و کاربران گرامی برساند شما میتوانید با چک کردن روزانه سایت به تعداد بالایی از اخبار و مطالب پزشکی جدید دست پیدا کنید. در واقع سایت کلینیک از لحاظ محتوایی فعالیت بسیار بالایی داشته و تیم محتوا بصورت مداوم در حال تهیه و انتشار آنها هستند. ما در کلینیک سعی کرده ایم تا با فراهم کردن محیطی کاربرپسند به کاربر حس خوبی از گشت و گذار در سایت القا کنیم. البته ذکر این نکته نیز خالی از لطف نیست که ما همواره در حال آنالیز و بررسی بازخوردهای کاربران از رابط کاربری سایت هستیم. این موضوع باعث میشود تا بتوانیم سایت را با نیاز و راحتی کاربران بهینه و تغییر دهیم.
      </p>
  
     
    </div>
    
  </div>
</div>


<div [ngStyle]="{'height.px':200,'background-image': styleservice.Flag ?  'linear-gradient(to bottom,white,rgb(0, 93, 103))' : 'linear-gradient(to bottom,white,#3f51b5)'}"></div>
<div [ngClass]="{'lastnewsheader' : styleservice.Flag == true,
                'lastnewsheader-v2': styleservice.Flag == false}">
    مشاوره پزشکی
</div>
<div [ngStyle]="{'background-color': styleservice.Flag ? 'rgb(0, 93, 103)' : '#3f51b5'}">
    <div class="row lastnewsbody">
        <div class="col-md-2" style="font-size: 8em;">
          <i class="fa fa-user-md" aria-hidden="true"></i>
        </div>
        <div class="col-md-2" style="font-size: 8em;">
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        </div>
        <div class="col-md-2" style="font-size: 8em;">
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </div>
        <div class="col-md-6" style="text-align: right">
            <section>
              <h4>مشاوره پزشکی برای بیماران خاص</h4><br>
              <h5>با استفاده از این سرویس می توانید سوالات مرتبط با بیماری خود را از پزشکان کلینیک خاص بپرسید</h5><br>
              <h6>برای استفاده از این سرویس باید عضو <strong style="color: yellow">کلینیک خاص</strong> شوید</h6><br>
            </section>
          </div>
  </div>
</div>
<div [ngClass]="{'lastnewsfooter' : styleservice.Flag == true,
                 'lastnewsfooter-v2': styleservice.Flag == false}">
    <a [routerLink]="['register-tab']" >
        <button [ngClass]="{'btn btn-primary' : styleservice.Flag == true,
        'btn btn-danger': styleservice.Flag == false}" style="width:50%;height:40px;">عضویت</button></a>
</div>
<div [ngStyle]="{'height.px':200,'background-image': styleservice.Flag ?  'linear-gradient(to top,white,rgb(0, 93, 103))' : 'linear-gradient(to top,white,#3f51b5)'}"></div>



<div [ngStyle]="{'height.px':200,'background-image': styleservice.Flag ?  'linear-gradient(to bottom,white,rgb(0, 93, 103))' : 'linear-gradient(to bottom,white,#3f51b5)'}"></div>
<div [ngClass]="{'lastnewsheader' : styleservice.Flag == true,
                'lastnewsheader-v2': styleservice.Flag == false}">
    مطالب جدید <i class="fa fa-rss" aria-hidden="true"></i>
</div>
<div [ngStyle]="{'background-color': styleservice.Flag ? 'rgb(0, 93, 103)' : '#3f51b5'}">
    <div class="row lastnewsbody">
        <div class="col-md-3" *ngFor="let x of pservice.postList ; let i = index">
          <div *ngIf="i<4">
            <div>
            <div class="lastnewsimg"><img class="zoom" style=" border-radius: 10px" [src]="x.Image" alt=""></div>
            <a [routerLink]="['post', x.PID]" ><div class="lastnewstitle">{{x.Title}}</div></a>
            </div>
          </div>
        </div>
        
  </div>
</div>
<div [ngClass]="{'lastnewsfooter' : styleservice.Flag == true,
                 'lastnewsfooter-v2': styleservice.Flag == false}">
    <a [routerLink]="['posts']" >
        <button [ngClass]="{'btn btn-primary' : styleservice.Flag == true,
        'btn btn-danger': styleservice.Flag == false}" style="width:50%;height:40px;">بیشتر +</button>
    </a>
</div>




<div [ngStyle]="{'height.px':730,'background-image': styleservice.Flag ?  'linear-gradient(to top, #114178, white,white,white,rgb(0, 93, 103)' : 'linear-gradient(to top, #114178, white,white,white,#3f51b5)'}">
  <div style="height:300px;" ></div>
  <div >
    <div class="raghs">عضویت در خبرنامه</div>
    <div class="newletter" dir="rtl" >
      <div class="container" >
          <div class="col-lg-6 mx-auto">
            <form #Newletter="ngForm">
              <mat-form-field >
                <input  type="email" matInput #Nemail="ngModel" name="Nemail" ngModel placeholder="پست الکترونیکی"  required>
                <mat-icon (click)="postNewletter(Newletter)" style="cursor: pointer" matSuffix> <i class="fa fa-paper-plane" aria-hidden="true"></i></mat-icon>
                <mat-error *ngIf="Nemail.invalid">ایمیل نامعتبر است</mat-error>
              </mat-form-field>
            </form>
          </div>
      </div>
     </div>
  </div>
  <div style="height:300px;"></div>
</div>
<app-footer></app-footer>